<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Myciudapp</a>
    <link rel="shortcut icon" href="https://icons8.com/icon/65876/unpin-2">>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/historia">Historia</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fas fa-bullhorn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Eventos </a>
            <div class="dropdown-menu animated pulse" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/eventos">Todos Los Eventos </a>
              <a class="dropdown-item" href="/eventos/add">Agrega un Evento</a>
          </div>
          </li>
              
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fas fa-dove" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Atracciones </a>
           <div class="dropdown-menu animated pulse" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/atracciones">Todas las Atracciones </a>
              <a class="dropdown-item" href="/atracciones/add">Agregar Atracciones</a>
            </div>
          </li>
         

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fas fa-child" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Talentos </a>
            <div class="dropdown-menu animated pulse" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/talentos">Todos los Talentos </a>
              <a class="dropdown-item" href="/talentos/add">Agregar Talentos</a>
            </div>
          </li>


          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fas fa-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.name}} </a>
            <div class="dropdown-menu animated pulse" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
            </div>
          </li>

        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
</nav>
