<section class="card">
  <center>
  <div class="card-body">
    <h1 class="display-5 animated wobble"><strong>Historia</strong></h1>
  </center>
    <div class="text-justify  lead animated jackInTheBox">
      Montería es un municipio colombiano, capital del departamento de Córdoba.
       Está ubicado al noroccidente del país en la región Caribe Colombiana,
        se encuentra a orillas del río Sinú, por lo que es conocida como la "Perla del Sinú". 
        Es considerada la capital ganadera de Colombia; anualmente celebra la feria de la Ganadería 
        durante el mes de junio. Es además, un importante centro comercial y universitario, reconocida
         como una de las ciudades colombianas con mayor crecimiento y desarrollo en los últimos años y 
         por impulsar el desarrollo sostenible.
    </div>
  </div>
</section>
