<div class="jumbotron mt-4">
  <center>
  <h1 class="display-4 animated wobble"><strong>MY CIUDAPP </strong></h1>
  
  <p class="lead animated jello">Esta aplicación sirve para que los habitantes de Monteria, y no solo ellos sino tambien los que lleguen a visitar, sepan donde hay eventos próximos, las personas talentosas que hay en la ciudap y tambien conozcan sus atracciones.</p>
  <hr class="my-4">
  <p class="title animated shake "><strong> MONTERÍA-CÓRDOBA-COLOMBIA</strong>
  </p>
  <iframe width="410" height="305" src="https://www.youtube.com/embed/vYWZ86f5KmY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63093.10072039248!2d-75.8772004149414!3d8.756045832375218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1552238903765" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  {{!-- <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=vYWZ86f5KmY" role="button">Monteria Es Bella</a> --}}
</center>
</div>

